.about {
	display: block;
	background-color: var(--color-foreground);
}

.sticky-header-about {
	margin: 0;
	padding: 6px 0 0 0;
	text-align: center;
}
.sticky-header-about p {
	/* color: var(--color-background); */
	color: transparent;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.about--container-content {
	/* background-color: var(--color-foreground);
	box-shadow: 0 0 4px black; */
	margin: 0 auto 0 auto;
	max-width: 800px;
	overflow-x: hidden;
	padding: 0 30px 80px 30px;
}

.about--profile-links {
	list-style: none;
	margin: 30px auto;
	padding: 0;
	text-align: center;
	width: 280px;
}
.about--profile-links li {
	display: inline-block;
	font-weight: bolder;
	margin: 0 20px;
	padding: 0;
}

.about--profile-links .github div {
	cursor: pointer;
	background: url("../../../images/icon_github@2x.png") no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .github div:hover {
	background: url("../../../images/icon_github_alt@2x.png") no-repeat center/cover;
}
.about--profile-links .facebook div {
	cursor: pointer;
	background: url("../../../images/icon_facebook@2x.png") no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .facebook div:hover {
	background: url("../../../images/icon_facebook_alt@2x.png") no-repeat center/cover;
}
.about--profile-links .linkedin div {
	cursor: pointer;
	background: url("../../../images/icon_linkedin@2x.png") no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .linkedin div:hover {
	background: url("../../../images/icon_linkedin_alt@2x.png") no-repeat center/cover;
}

.about--content-bio {
	font-size: 14px;
	margin: 40px 20px 0 20px;
	max-width: 800px;
	text-align: justify;
}

.about--navigator {
	display: flex;
	max-width: 800px;
	margin: 48px 20px 40px 20px;
	padding: 0;
	text-align: center;
}

#about--navigator-line-left {
	border-bottom: 2px solid var(--color-background);
	height: 14px;
	width: 100%;
}

#about--navigator-line-right {
	border-bottom: 2px solid var(--color-background);
	height: 14px;
	width: 100%;
}

#about--navigator-icons {
	cursor: default;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 460px;
}
#about--navigator-icons li {
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin: 0 4px;
	padding: 0;
	width: 30px;
}

#about--navigator-icon-lang {
	background: url("../../../images/icon_computerCode@2x.png") no-repeat center/contain;
}
#about--navigator-icon-lang:hover {
	background: url("../../../images/icon_computerCode_inv@2x.png") no-repeat center/contain;
}

#about--navigator-icon-work {
	background: url("../../../images/icon_briefcase@2x.png") no-repeat center/contain;
}
#about--navigator-icon-work:hover {
	background: url("../../../images/icon_briefcase_inv@2x.png") no-repeat center/contain;
}

#about--navigator-icon-educ {
	background: url("../../../images/icon_graduationCap@2x.png") no-repeat center/contain;
}
#about--navigator-icon-educ:hover {
	background: url("../../../images/icon_graduationCap_inv@2x.png") no-repeat center/contain;
}

#about--navigator-icon-tool {
	background: url("../../../images/icon_gearHammer@2x.png") no-repeat center/contain;
}
#about--navigator-icon-tool:hover {
	background: url("../../../images/icon_gearHammer_inv@2x.png") no-repeat center/contain;
}

.about--content-section {
	margin: 0 20px 26px 20px;
	text-align: left;
	width: 100%;
}

.about--content-section-icon {
	display: inline-block;
	height: 24px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 30px;
}
.about--content-section-icon.icon-lang {
	background: url("../../../images/icon_computerCode@2x.png") no-repeat center/contain;
}
.about--content-section-icon.icon-work {
	background: url("../../../images/icon_briefcase@2x.png") no-repeat center/contain;
}
.about--content-section-icon.icon-educ {
	background: url("../../../images/icon_graduationCap@2x.png") no-repeat center/contain;
}
.about--content-section-icon.icon-tool {
	background: url("../../../images/icon_gearHammer@2x.png") no-repeat center/contain;
}

.about--content-section-title {
	color: var(--color-background);
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	margin: 1px 0 0 0;
	padding: 0;
}

.about--content-section-lang {
	/* background: url(../../../images/loader_beat_white@2x.gif) no-repeat center/contain; */
	border-spacing: 10px;
	display: table;
	list-style: none;
	margin: 0 20px 40px 54px;
	/* min-height: 40px; */
	padding: 0;
	text-align: left;
	/* width: 100%; */
	max-width: 726px;
}

.about--content-section-lang li {
	cursor: default;
	display: table-cell;
	margin: 0;
	padding: 0;
	text-align: left;
}

.about--content-section-lang-title {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.about--content-section-lang-count {
	border-top: 1px solid gray;
	display: inline-block;
	font-size: 12px;
	font-weight: lighter;
	color: gray;
	margin: 0;
	padding: 0;
}

.about-content-section-work-header {
	font-size: 13px;
	margin: 0 54px;
	text-align: left;
}
.about-content-section-work-description {
	font-size: 12px;
	margin: 6px 20px 20px 80px;
	text-align: left;
}

.about--content-section-educ {
	display: inline-block;
	margin: 0 54px 40px 54px;
	padding: 0;
	text-align: left;
	width: 100%;
}
.about--content-section-educ .educ-title {
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.about--content-section-educ .educ-sub {
	font-size: 12px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.about--content-tool-list {
	display: inline-block;
	list-style: none;
}
.about--content-tool-list li {
	display: inline-block;
	font-size: 12px;
	border-right: 1px solid var(--color-background);
	margin-right: 4px;
	padding-right: 4px;
}
.about--content-tool-list li:nth-child(even) {
	color: gray;
}