:root {
  --nav-height: 38px;
}

.header {
  background-color: var(--color-background);
  /* To displace proceeding elements after position-fixed header */
  height: var(--nav-height);
  overflow: hidden;
  width: 100%;
}

.header div {
  display: block;
  height: var(--nav-height);
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.header p {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header .nav {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
  z-index: 1;
}
.header .nav p, .header .nav-highlight p {
  border-top: 1px solid var(--color-background);
  cursor: pointer;
  padding: 11px 40px;
}
.header .nav-highlight {
  color: var(--color-background);
  z-index: 1;
}
.header .nav-highlight p {
  border-radius: 12px 12px 0 0;
  background-color: var(--color-foreground);
}
.header .nav .home, .header .nav-highlight .home {
  float: left;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 10px;
}
/* .header .nav p:hover, .header .nav-highlight p:hover {

} */

.header .nav-detail {
  background-color: var(--color-foreground);
  box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.2);
  color: var(--color-background);
  height: 30px;
  margin-top: var(--nav-height);
  text-align: center;
  z-index: 0;
}

.header .nav-detail.banner {
  background-color: transparent;
  box-shadow: none;
  /* border-width: 0; */
}
.header .nav-detail.about {
  font-weight: bold;
}
.header .nav-detail p {
  /* border-bottom: 1px solid var(--color-background); */
  padding: 6px 0;
  width: 100%;
  
}
.header .nav-detail.projects-divider {
  overflow-y: hidden;
  height: 2px;
}
.header .nav-detail.projects {
  overflow-y: hidden;
  height: 2px;
}
.header .nav-detail.banner p {
  border-width: 0;
}

#header-spacer-fixed-correction {
  display: block;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  z-index: -1;
}
