:root {
  --nav-height: 40;
}

.header {
  background-color: var(--color-background);
  /* To displace proceeding elements after position-fixed header */
  height: calc(var(--nav-height) * 1px);
  overflow: hidden;
  width: 100%;
}

.header div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header p {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header .nav {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */

  background-color: var(--color-background);
  color: var(--color-foreground);
  display: block;
  height: calc(var(--nav-height) * 1px);
  margin: 0;
  overflow-x: auto;
  padding: 0;
  position: fixed;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
}
.header .nav p {
  border-radius: 12px 12px 0 0;
  border-top: 1px solid var(--color-background);
  cursor: pointer;
  padding: 11px 40px;
}
.header .nav p.focused {
  background-color: var(--color-foreground);
  color: var(--color-background);
}
.header .nav p:first-child {
  float: left;
  font-size: 18px;
  font-weight: bolder;
  padding: 9px 10px;
}
/* .header .nav p:hover, .header .nav-highlight p:hover {

} */

.header-button-selected-project {
  color: var(--color-foreground);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.2) inset;
}
.header-button-selected-project.highlight {
  color: var(--color-background);
  background-color: lightgray;
}

#header-spacer-fixed-correction {
  display: block;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  z-index: -1;
}
