.sticky-header {
  background-color: var(--color-foreground);
  box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.2);
  color: var(--color-background);
  display: block;
  /* height: 20px; */
  margin: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.sticky-header>p {
  padding: 6px 0;
  width: 100%;
}

.sticky-header.about {
  font-weight: bold;

}

.sticky-header.hidden {
  background-color: transparent;
  box-shadow: none;
}

.project-selected-header {
  margin: 0;
  padding: 20px 20px 14px 20px;
  text-align: center;
}

.project-selected-header .header-top-row {
  /* display: flex;
  align-items: flex-start; */
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  text-align: center;
}

.project-selected-header .header-top-row p, .project-selected-header .header-top-row a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.project-selected-header .header-top-row .back {
  float: left;
  background: url('../../images/arrow_thin_l@2x.png') no-repeat left/10px 14px;
  background-color: gray;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 2px 7px;
  padding-left: 14px;
  text-decoration: underline;
  text-align: left;
}

.project-selected-header .header-top-row .back b {
  margin: 0;
  padding: 0;
}

.project-selected-header .header-top-row p.back {
  color: white;
}

.project-selected-header .header-top-row .title {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.project-selected-header .header-top-row .title-divider {
  font-size: 24px;
  margin: 0 8px;
}

.project-selected-header .header-top-row .next-container {
  background: url('../../images/arrow_thin_r@2x.png') no-repeat right top 4px/10px 14px;
  background-color: var(--color-background);
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  float: right;
  margin: 0;
  /* overflow: hidden; */
  padding: 2px 7px;
  padding-right: 14px;
  /* text-align: right; */
  /* width: 180px; */
}

.project-selected-header .header-top-row .next-container p {
  color: white;
}

.project-selected-header .header-top-row .next {
  font-size: 14px;
  margin: 0;
  text-decoration: underline;
}

.project-selected-header .header-top-row .next-container .subtitle::selection,
.project-selected-header .header-top-row .next::selection {
  background: none;
}

.project-selected-header .header-top-row .next-container .subtitle {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.project-selected-header .project-link,
.project-selected-header .project-link:link,
.project-selected-header .project-link:visited {
  color: gray;
  /* display: block; */
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.project-selected-header .project-link:hover {
  text-decoration: underline;
}

.project-selected-header .mode-toggle {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5) inset;
  background-color: lightgray;
  border-radius: 6px;
  display: inline-block;
  margin: 14px 0 0 0;
  overflow: hidden;
  padding: 0;
}

.project-selected-header .mode-toggle p {
  border-radius: 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin: 2px;
  padding: 0 4px;
}

.project-selected-header .mode-toggle::selection,
.project-selected-header .mode-toggle p::selection {
  background: none;
}

.project-selected-header .mode-toggle p:first-child {
  margin: 2px 0 2px 2px;
}

.project-selected-header .mode-toggle p:hover {
  text-decoration: underline;
}

.project-selected-header .mode-toggle p.selected {
  background-color: darkgray;
  box-shadow: 0 0 4px 0 black;
  color: var(--color-background);
  cursor: default;
}

.project-selected-header .mode-toggle p.selected:hover {
  text-decoration: none;
}